{:duct.profile/base
 {:duct.core/project-ns duct-talk

  :duct-talk.handler.stories/index
  {:db #ig/ref :duct.database/sql}

  :duct-talk.handler.stories/submit
  {:db #ig/ref :duct.database/sql}

  :duct-talk.handler.stories/upvote
  {:db #ig/ref :duct.database/sql}
  
  [:duct.migrator.ragtime/sql :migrations/init-stories]
  {:up   [#duct/resource "migrations/init-stories.up.sql"]
   :down [#duct/resource "migrations/init-stories.down.sql"]}

  :duct.migrator/ragtime
  {:migrations [#ig/ref :migrations/init-stories]}}
  

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/ataraxy
 {"/" {:get [:stories/index] 
       "stories" {:post [:stories/submit]
                  [:post "/" ^int id] [:stories/upvote id]}}}
 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}}
